.bg-image-vertical {
position: relative;
overflow: hidden;
background-repeat: no-repeat;
background-position: right center;
background-size: auto 100%;
}

@media (min-width: 1025px) {
.h-custom-2 {
height: 100%;
}
}

img{
    object-fit: cover;
    width: 100px;
    height: 300px;
}

.rounded-circle{
    width: 300px;
    height: 300px;
}

.o-personal-data__data-block{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --layout-container-max-width: 1220px;
    --window-scrollbar-width: 17px;
    --vh: 7.48px;
    --visual-h: 731.2000122070312px;
    --min-height-content: 654px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: "OSTIN Sans", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #111111;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
.navbar { height: 60px; }
.navbar-toggler img {height: 30px; width: 30px}
.item-image {
    float: left; /* Помещаем изображение слева */
    margin-right: 20px; /* Добавляем отступ справа */
    width: 100px; /* Задаем ширину изображения */
    height: 100px; /* Задаем высоту изображения */
    overflow: hidden; /* Обрезаем изображение, чтобы сделать его квадратным */
}

.item-details {
    display: flex; /* Располагаем изображение и текст в одной строке */
    align-items: center; /* Выравниваем элементы по вертикали */
}

.item-image {
    margin-left: 70px; /* Добавляем отступ слева от изображения */
    margin-right: 20px; /* Добавляем отступ справа от изображения */
}

.item-image img {
    width: 150px; /* Задаем желаемую ширину изображения */
    height: auto; /* Поддерживаем соотношение сторон */
}
