{% extends 'base.html'%}
<link rel="stylesheet" href="../static/css/style.css"/>
{% block title %}
<title>*Название*</title>
{% endblock %}
{% block strong %}
<strong>Главная</strong>
{% endblock%}
{% block body %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">*Название*</h1>
        <p class="lead text-body-secondary">Краткое описание</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <a href="/product"><img src="../static/img/dress.jpg" class="bd-placeholder-img card-img-top" width="100%" height="100%"></a>
            <div class="card-body">
              <p class="card-text">Платье черное в горошек</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/product" class="btn btn-sm btn-outline-secondary">Смотреть</a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                </div>
                <small class="text-body-secondary">Цена</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="/product1"><img src="../static/img/jeans.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"></a>
            <div class="card-body">
              <p class="card-text">Джинсы MOM</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/product1" class="btn btn-sm btn-outline-secondary">Смотреть</a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                </div>
                <small class="text-body-secondary">Цена</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="/product2"><img src="../static/img/top.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"></a>
            <div class="card-body">
              <p class="card-text">Топ белый</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/product2" class="btn btn-sm btn-outline-secondary">Смотреть</a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                </div>
                <small class="text-body-secondary">Цена</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <a href="/product"><img src="../static/img/dress.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"></a>
            <div class="card-body">
              <p class="card-text">Первый товар</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/product" class="btn btn-sm btn-outline-secondary">Смотреть</a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                </div>
                <small class="text-body-secondary">Цена</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="/product"><img src="../static/img/dress.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"></a>
            <div class="card-body">
              <p class="card-text">Первый товар</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/product" class="btn btn-sm btn-outline-secondary">Смотреть</a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                </div>
                <small class="text-body-secondary">Цена</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="/product"><img src="../static/img/dress.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"></a>
            <div class="card-body">
              <p class="card-text">Первый товар</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/product" class="btn btn-sm btn-outline-secondary">Смотреть</a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                </div>
                <small class="text-body-secondary">Цена</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <a href="/product"><img src="../static/img/dress.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"></a>
            <div class="card-body">
              <p class="card-text">Первый товар</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/product" class="btn btn-sm btn-outline-secondary">Смотреть</a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                </div>
                <small class="text-body-secondary">Цена</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="/product"><img src="../static/img/dress.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"></a>
            <div class="card-body">
              <p class="card-text">Первый товар</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/product" class="btn btn-sm btn-outline-secondary">Смотреть</a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                </div>
                <small class="text-body-secondary">Цена</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="/product"><img src="../static/img/dress.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"></a>
            <div class="card-body">
              <p class="card-text">Первый товар</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/product" class="btn btn-sm btn-outline-secondary">Смотреть</a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                </div>
                <small class="text-body-secondary">Цена</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-body-secondary py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">В начало</a>
    </p>
    <p class="mb-1" align="center">2024</p>
  </div>
</footer>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>



<g-ext-in></g-ext-in>
{% endblock %}
