{% extends 'base.html' %}
<link rel="stylesheet" href="../static/css/style.css"/>
{% block title %}
<title>Личный кабинет</title>
{% endblock %}

{% block body %}

<div class="container">
    <div class="main-body">

      <p></p>
      <p></p>
      <p></p>


          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="../static/img/female.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{ current_user.name }} {{ current_user.surname }}</h4>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Имя</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ current_user.name }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Фамилия</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ current_user.surname }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Дата рождения</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {% if not current_user.date_of_birth: %}
                        Заполните профиль
                      {% else %}
                      {{current_user.date_of_birth}}
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Телефон</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {% if not current_user.phone_number: %}
                        Заполните профиль
                      {% else %}
                      {{current_user.phone_number}}
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ current_user.email }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Адрес</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {% if not current_user.adress: %}
                        Заполните профиль
                      {% else %}
                      {{current_user.adress}}
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info" target="__blank" href="/edit">Изменить</a>
                      <a class="btn btn-danger" href="/logout">Выход</a>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>
    </div>

{% endblock %}
